@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.home {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-image: url(../../image/bg.png);
}
.navbar Nav{
    padding-left: 10px;
}