.destination{
    width:100%;
    border-top: 1px solid lightgray;
    display: grid;
    float: left;
}
.card{
    width:400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgray;
}
.map-img {
    width:400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgray;
}
.map-img img {
    width:100%;
}