.card{
    width:400px;
    display:block;
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid lightgray;
}
.destination{
    width:100%;
    border-top: 1px solid lightgray;
    display: grid;
    float: left;
}
.map-img {
   
}
.map-img img {
    width:50%;
}